.App {
  text-align: center;
}

.text {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  /* Align text to the left */
  text-align: left;
}

/* Adjust font size based on window width */
@media (max-width: 1200px) {
  .test {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .test {
    font-size: 0.6px;
  }
}

@media (max-width: 600px) {
  .test {
    font-size: 0.4px;
  }
}

.LobbyPage {
  background-image: url('./assets/Lobbybackgroung.jpg');
  background-size: cover;
  margin: 0;
  height: 100vh;
  /* Set padding-left to move content to the right */
  padding-left: 300px;

}

.LobbyPage>h1 {
  margin-bottom: 10vh;
  margin: 0 30px;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lobbypage-join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lobbypage-join>input {
  font-size: 15px;
  width: 150px;
  height: 1.5em;
}

.game-scrren{
  background-image: url('./assets/gamebackground.jpg');

  /* Set the background size to cover the entire element */
  background-size: cover;

  /* Set the background position to center */
  background-position: center;

  /* Set the element height and width */
   height: 100vh;
  /*width: 100vw; */
}

/* Cards */
.Card{
  position: relative; /* Set position to relative so we can use top property */
  width: 100px; 
  height: 150px; 
  cursor: pointer;
}

.Card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;/* Add a transition for smooth animation */
}

.Card:hover{
  top: -20px;
  transform: scale(1.1);
  z-index: 1; /* Bring the card to the front */
}

.Card.selected {
  transform: translate(0,-40px) scale(1.1);
  /* top: -20px; */ /* Move the card up when it is selected */
}

/* player Hand */
.player1Hands{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* /webkit-text-stroke-width:2px
color */
.hand{
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color: white;
}

.showedCards{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.showedCardsText{
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
}

.player1DeckText{
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
}

.NoticeText{
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.HandLengthText{
  font-size: 3rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: left;
}
/* .player1Hands>img {
  transition: transform 350ms;
} */

/* .player1Hands>img:hover {
  transform: scale(1.08);
  transform: translate(0,-50px);
  opacity: 1;
} */



/* Buttons */
.Buttons{
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: .1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255,255,255,.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
}

.Buttons:hover {
  top:2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3);
}

.Buttons:disabled {
  background: repeating-linear-gradient( 45deg, #fd0202, #fb0202 5px, #f44545 5px, #f44545 10px);
  box-shadow: 0 4px 0 #91262b, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #7d1212, 0 10px 0 5px #9a1a1a, 0 13px 0 5px #5e0c0c, 0 13px 1px 6px rgba(0,0,0,.3);
  border-bottom: 3px solid rgba(146, 16, 16, 0.5);
  cursor: not-allowed;
}

.Buttons:disabled:hover {
   /* Remove the hover effect when the button is disabled */
  background: repeating-linear-gradient( 45deg, #fd0202, #fb0202 5px, #f44545 5px, #f44545 10px);
  box-shadow: 0 4px 0 #91262b, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #7d1212, 0 10px 0 5px #9a1a1a, 0 13px 0 5px #5e0c0c, 0 13px 1px 6px rgba(0,0,0,.3);
  border-bottom: 3px solid rgba(146, 16, 16, 0.5);
}

.Buttons::before {
  content: '';
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
  }

.Buttons::after {
  content: '';
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
  }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
